title Shkola
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(charset='utf-8')

//- Compilado de SASS
link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css", media="screen", title="no title", charset="utf-8")

link(href='/stylesheets/main.css', rel='stylesheet')
link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
link(rel='stylesheet', href='/vendor/animate-css/animate.css')
