include ../includes/mixins
html
  head
    title Shkola
    include ../includes/head
    include ../includes/head_scripts

  body
        #content
                #app
                        .container.body-sp.animated.fadeIn
                                block content
                  
                  
        include ../includes/footer
        include ../includes/scripts-login
    
